.navlinks {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: black;
}

.navlink-home {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: 0.5s;
}

.navlink-home:hover {
    color: black;
    font-size: 20px;
}

.navlinks:hover {
    color: black;
    background-color: aliceblue;
}

.navlinks.active::before,
.navlinks:hover::before {
    position: absolute;

}

.red {
    color: rgb(225, 71, 73);
}

.rocket {
    color: #ba3b3d;
}

.yellow {
    color: #FFDC00;
}