.primary {
  color: #00ebc7;
}

.secondary {
  color: #ff5470;
}

.tertiary {
  color: #fde24f;
}

.primary-bg {
  background-color: #00ebc7;
}

.secondary-bg {
  background-color: #ff5470;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00214d;
}

p {
  color: #1b2d45;
}

.menubar {
  background-color: #00ebc880;
}

.primary-btn {
  background-color: #00ebc7;
  border: none;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #2ec5ae;
}

.secondary-btn {
  background-color: #ff5470;
  border: none;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #d1445b;
}

button:hover {
  box-shadow: 3px 3px 6px gray;
}

.page-size {
  min-height: 80vh;
}

.component-headings {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.component-headings::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  bottom: 0;
  border-bottom: 4px solid #ff5470;
}