@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

.banner-header {
  font-family: 'Rubik',
    sans-serif;
}

.primary {
  color: #FFDC00;
}

.secondary {
  color: #ff5470;
}

.tertiary {
  color: #fde24f;
}

.primary-bg {
  background-color: #FFDC00;
}

.secondary-bg {
  background-color: #ff5470;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00214d;
}

p {
  color: #1b2d45;
}

.menubar {
  background-color: #FFDC00;
}

.primary-btn {
  background-color: rgb(225, 71, 73);
  border: none;
  transition: 0.3s;
  color: white;
}

.primary-btn:hover {
  background-color: #ba3b3d;
}

.secondary-btn {
  background-color: #ff5470;
  border: none;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #d1445b;
}

button:hover {
  box-shadow: 3px 3px 6px gray;
}

.page-size {
  min-height: 80vh;
}

.component-headings {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.component-headings::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  bottom: 0;
  border-bottom: 4px solid #ff5470;
}

.word-break {
  word-break: break-all;
}